<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhangzhuo.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zhangzhuo.pojo.Product">
        <id column="id" property="id" />
        <result column="cid" property="cid" />
        <result column="brand_id" property="brandId" />
        <result column="title" property="title" />
        <result column="sub_title" property="subTitle" />
        <result column="attributes" property="attributes" />
        <result column="price" property="price" />
        <result column="go8_price" property="go8Price" />
        <result column="stock" property="stock" />
        <result column="status" property="status" />
        <result column="picture" property="picture" />
        <result column="images" property="images" />
        <result column="product_code" property="productCode" />
        <result column="package_info" property="packageInfo" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="creator" property="creator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cid, brand_id, title, sub_title, attributes, price, go8_price, stock, status, picture, images, product_code, package_info, gmt_create, gmt_modified, creator
    </sql>

<!-- 自定义结果映射-->
<!--    <resultMap id="ProductBrandResultMap" type="com.go8.goods.pojo.ProductExt" extends="BaseResultMap">-->
<!--        <association property="brand" javaType="com.go8.goods.pojo.Brand">-->
<!--            <id property="id" column="brand_id"/>-->
<!--            <result property="cname" column="cname"/>-->
<!--            <result property="ename" column="ename"/>-->
<!--            <result property="url" column="url"/>-->
<!--            <result property="source" column="source"/>-->
<!--            <result property="logo" column="logo"/>-->
<!--            <result property="catName" column="cat_name"/>-->
<!--        </association>-->
<!--    </resultMap>-->

<!--    <select id="getProductBrandById" resultMap="ProductBrandResultMap" parameterType="java.lang.Long">-->
<!--        select  p.id,p.cid,p.brand_id,p.title,p.sub_title,p.attributes,p.price,p.go8_price,p.stock,p.picture,p.images,p.package_info,b.cname,b.ename,b.logo,b.cat_name,b.url,b.source from t_product p join t_brand b on p.brand_id = b.id-->
<!--        where p.id = #{id,jdbcType=BIGINT}-->
<!--    </select>-->

<!--    <select id="getProductDetailById" resultMap="ProductBrandResultMap" parameterType="java.lang.Long">-->
<!--        select  p.id,p.cid,p.brand_id,p.title,p.sub_title,p.attributes,p.price,p.go8_price,p.stock,p.picture,p.images,p.package_info,b.cname,b.ename,b.logo,b.cat_name,b.url,b.source from t_product p join t_brand b on p.brand_id = b.id-->
<!--        where p.id = #{id,jdbcType=BIGINT}-->
<!--    </select>-->

<!--    <select id="getProductSkulById" resultMap="ProductBrandResultMap" parameterType="java.lang.Long">-->
<!--        select  p.id,p.cid,p.brand_id,p.title,p.sub_title,p.attributes,p.price,p.go8_price,p.stock,p.picture,p.images,p.package_info,b.cname,b.ename,b.logo,b.cat_name,b.url,b.source from t_product p join t_brand b on p.brand_id = b.id-->
<!--        where p.id = #{id,jdbcType=BIGINT}-->
<!--    </select>-->

    <select id="getProductSkulById" resultType="org.zhangzhuo.entity.ProductSku" parameterType="java.lang.Integer">
        select * from t_product_sku
        ${ew.CustomSqlSegment}
    </select>
</mapper>
