<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhangzhuo.mapper.OrderShipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zhangzhuo.entity.OrderShip">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="ship_name" property="shipName" />
        <result column="ship_address" property="shipAddress" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="street" property="street" />
        <result column="phone" property="phone" />
        <result column="zip" property="zip" />
        <result column="remark" property="remark" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, ship_name, ship_address, province, city, area, street, phone, zip, remark, gmt_create, gmt_modified
    </sql>

</mapper>
